.emailInput {
	display: flex;
	flex-wrap: wrap;

	background: white;
	width: 400px;
	padding: 11px 13px;

	border-radius: 8px;
}

input {
	width: 100%;
	min-width: 5rem;
	padding: 5px 8px;
	border: none;
}

.tag {
	display: flex;
	background: #ededed;
	padding: 8px 5px;
	border-radius: 6px;
	cursor: arrow;
}

.tag:not(:first-of-type) {
	margin-left: 5px;
}

.invalid {
	background: #f3b7bd;
}

button {
	margin-left: 5px;
	border: none;
}

.invalid button {
	background: #f1515f;
	border-radius: 50%;
}
