.emailInput {
	display: flex;
	flex-wrap: wrap;

	background: white;
	width: 400px;
	padding: 11px 13px;

	border-radius: 8px;
}

input {
	width: 100%;
	min-width: 5rem;
	padding: 5px 8px;

	font-size: 1rem;
	border: none;
}

.tag {
	display: flex;
	background: #ededed;
	padding: 5px 8px;
	border-radius: 6px;
	cursor: arrow;
}

.tag:not(:first-of-type) {
	margin-left: 5px;
}

.invalid {
	background: #f3b7bd;
}

button {
	margin-left: 5px;
	border: none;
}

.invalid button {
	background: #f1515f;
	border-radius: 50%;
}

ul {
	width: 100%;
	max-height: 11rem;
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	list-style-type: none;
	overflow-y: scroll;
}

ul li {
	text-align: start;
	padding: 5px 8px;
}

ul li:hover {
	background: #eff5f9;
}
